.review{
    padding: 24px 0;
    border-bottom: 1px solid #D3D3D3;

    p{
        color: var(--balck, #3A3748);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.176px;
    }
}