@import '../../styles/globals.scss';

.banner{
    width: 100%;
    background-image: url("/banners/banner.png");
    margin-bottom: 32px;

    @include custom-web-viewport(320px){
        height: 91px;
        background-size: contain;
    }

    @include custom-web-viewport(768px){
        height: 167px;
        background-size: cover;
    }

    @include custom-web-viewport(1024px){
        height: 253px;
        background-size: cover;
    }
}

.reviewsContainer{
    margin: auto;
    
    @include custom-web-viewport(425px){
        width: 100%;
    }

    @include custom-web-viewport(768px){
        width: 70%;
    }

    @include custom-web-viewport(1024px){
        width: 50%;
    }
    
    .subtitle{
        color: var(--balck, #3A3748);
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 60px */
        margin: 80px 0 40px 0;

        @include custom-web-viewport(425px){
            font-size: 25px;
        }
    
        @include custom-web-viewport(768px){
            font-size: 30px;
        }
    
        @include custom-web-viewport(1024px){
            font-size: 40px;
        }
    }
}
